[submodule "abstract/algorithm/liuxinyu95/AlgoXY"]
	path = abstract/algorithm/liuxinyu95/AlgoXY
	url = git@github.com:liuxinyu95/AlgoXY.git
[submodule "abstract/algorithm/liuxinyu95/unplugged"]
	path = abstract/algorithm/liuxinyu95/unplugged
	url = git@github.com:liuxinyu95/unplugged.git
[submodule "reference/private/datahub"]
	path = reference/private/datahub
	url = git@github.com:gwdgithubnom/datahub.git
[submodule "application/pig/browsermob-proxy"]
	path = application/pig/browsermob-proxy
	url = git@github.com:lightbody/browsermob-proxy.git
[submodule "index/hubdata"]
	path = index/hubdata
	url = git@github.com:gwdgithubnom/hubdata.git
[submodule "index/private/datahub"]
	path = index/private/datahub
	url = git@github.com:gwdgithubnom/datahub.git
[submodule "index/private/hubdata"]
	path = index/private/hubdata
	url = git@github.com:gwdgithubnom/hubdata.git
[submodule "content/pig"]
	path = content/pig
	url = git@github.com:gwdgithubnom/pig.git
