[submodule "content/pig"]
	path = content/pig
	url = git@github.com:gwdgithubnom/pig.git
[submodule "content/dog"]
	path = content/dog
	url = git@github.com:gwdgithubnom/dog.git
[submodule "content/dragon"]
	path = content/dragon
	url = git@github.com:gwdgithubnom/dragon.git
[submodule "content/goat"]
	path = content/goat
	url = git@github.com:gwdgithubnom/goat.git
[submodule "content/monkey"]
	path = content/monkey
	url = git@github.com:gwdgithubnom/monkey.git
[submodule "content/ox"]
	path = content/ox
	url = git@github.com:gwdgithubnom/ox.git
[submodule "content/rabbit"]
	path = content/rabbit
	url = git@github.com:gwdgithubnom/rabbit.git
[submodule "content/rooster"]
	path = content/rooster
	url = git@github.com:gwdgithubnom/rooster.git
[submodule "content/snake"]
	path = content/snake
	url = git@github.com:gwdgithubnom/snake.git
[submodule "content/tiger"]
	path = content/tiger
	url = git@github.com:gwdgithubnom/tiger.git
[submodule "external/earth"]
	path = external/earth
	url = git@github.com:gwdgithubnom/earth.git
[submodule "external/water"]
	path = external/water
	url = git@github.com:gwdgithubnom/water.git
